{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": true,
  "editor.formatOnSave": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "editor.codeActionsOnSave": {
    "source.organizeImports": true
  },
  "arrowParens": "avoid"
}
